{% extends 'my.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block sidebar %}
    <h3>Table of Contents</h3>
    <a href="{{ path('_welcome') }}">Welcome page</a>
    <br/>
    <a href="{{ path('_hidden') }}">Hidden controller page</a>
    <br/>
    <a href="{{ path('_optional') }}">Optional page</a>
    <br/>
    <a href="{{ path('doctrine_create') }}">Doctrine create page</a>
    <br/>
    <a href="{{ path('doctrine_show', {'id': 3}) }}">Doctrine show page</a>
    <br/>
    <a href="{{ path('doctrine_update', {'id': 3}) }}">Doctrine update page</a>
    <br/>
    <a href="{{ path('doctrine_delete', {'name': 'Name 4'}) }}">Doctrine delete page</a>
    <br/>
    <a href="{{ path('doctrine_dql') }}">Doctrine DQL page</a>
    <br/>
    <a href="{{ path('doctrine_query_builder', {'price': 19.99}) }}">Doctrine DQB page</a>
    <br/>
    <a href="{{ path('doctrine_repository') }}">Doctrine repository page</a>
    <br/>
    <a href="{{ path('doctrine_related') }}">Doctrine related page</a>
    <br/>
    <a href="{{ path('doctrine_get_category_name') }}">Doctrine get_category_name page</a>
    <br/>
    <a href="{{ path('doctrine_joined') }}">Doctrine joined page</a>
    <br/>
    <br/>
    <a href="{{ path('_validation_base') }}">Validation base page</a>
    <br/>
    <br/>
    <a href="{{ path('_form_base') }}">Form base page</a>
    <br/>
    <a href="{{ path('_form_external') }}">Form external page</a>
    <br/>
    <br/>
    <a href="{{ path('_admin') }}">Admin page</a>
    <br/>
    <a href="{{ path('_role_user') }}">Role User page</a>
    <br/>
    <br/>
    <a href="{{ path('_esi') }}">ESI page</a>
    <br/>
    <br/>
    {% for article in articles %}
        <a href="{{ path('_welcome_slug', {'slug': article.title}) }}">
            {{ article.title }}
        </a>
        <br/>
    {% endfor %}
    {{ dump(articles) }}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for entry in blog_entries %}
        <h2>{{ entry.title }}</h2>
        {# жесткая ссылка на конкретную страницу #}
        <a href="{{ url('_welcome') }}">Welcome page</a>
        <p>{{ entry.body }}</p>
    {% endfor %}
    <hr>
{% endblock %}

{% block my_include %}
    {% for article in articles %}
        {{ include('template/article_details.html.twig', { 'detail_article': article }) }}
    {% endfor %}
{% endblock %}
